body {	
	padding-top: 20px;
	padding-bottom: 40px;
}
div.roulette1 {
	margin-top: 45px;
	border-radius: 10px;
}

div.roulette2 {
	margin-top: 45px;
	border-radius: 10px;

}

.btn_container {
	text-align:center;
}

.btn_container .start {
	margin-top:44px;
	padding: 163px 20px;
}
