body {
	background-color: #1a7195;
	padding-top: 20px;
	padding-bottom: 40px;
}

.categorias img {
	margin:18px 8px 0px 0px;
	width:70px;
	height:70px;
}

.label-roulette {
	font-size: 22px;
	text-align: center;
	color: white;
	letter-spacing: 18px;
}

div.roulette1 {
	margin-top: 45px;
	border-radius: 10px;
}	
.r-categ {
	float:left;
	margin:0px;
}

div.roulette2 {
	margin-top: 45px;
	border-radius: 10px;

}
.r-categ img {
	width:350px;
	height:350px;
}

.r-preg {
	margin:0px;
}

.r-preg img{
	width:350px;
	height:350px;
}



