body {
	background-color: #1a7195;
	padding-top: 20px;
	padding-bottom: 40px;
}

#qaModal {
	background-color: #1a7195;
	padding-top: 20px;
	padding-bottom: 40px;
}

.categorias {
	top: 10px;
	width:525px;
	height: 106;
	background-color: #ffffff;
	border: 5px solid #ffffff;
	border-radius: 50px;
	padding-right: 10px;
}
	
.categorias img {
	margin:8px 8px 8px 0px;
	width:70px;
	height:70px;
}

.label-roulette1 {
	margin-top: 24px;
	font-size: 25px;
	text-align: left;
	margin-left: 17px;
	color: white;
	letter-spacing: 25px;
}

.label-roulette2 {
	margin-top: 24px;
	font-size: 25px;
	text-align: left;
	margin-left: 13px;
	color: white;
	letter-spacing: 29px;
}

div.roulette1 {
	margin-top: 10px;
	float: left;
	border: 10px  solid #ffffff;
	border-radius: 14px;
	border-right-width: 15px;
}	

.r-categ {
	margin:0px;
}

.r-categ img {
	width:350px;
	height:350px;
}

div.roulette2 {
	margin-top: 10px;
	float: right;
	border: 10px  solid #ffffff;
	border-radius: 14px;
	border-right-width: 15px;
}

.r-preg {
	margin:0px;
}

.r-preg img{
	width:350px;
	height:350px;
}

.btn_container {
	text-align:center;
	outline: none;
	height: 370px;
	width: 65px;
}

.btn_container .start {
	margin-left: 17px;
	height: 335px;
	width: 70px;
	background-color: #1a7195;
	color: white;
	font-size: 37px;
	letter-spacing: 32px;
	margin-top:76px;
	border: 8px solid #ffffff;
	border-radius: 35px;
	transition-duration: 0.1s;
	outline: none;
}

.btn_container .start:hover{
	margin-left: 17px;
	height: 335px;
	width: 70px;
	background-color: #ffbd4a;
	color: #1a7195;
	font-size: 42px;
	letter-spacing: 37px;
	margin-top:76px;
	border: 5px solid #1a7195;
	border-radius: 35px;
	outline: none;
}

.rotate {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
	margin-bottom: 155px;
}

.modal-dialog{
	position: absolute;
	left: 0%;
	top: 10%;
} 

